### Week 3.1. Webscrape Toronto borough information from Wikipedia page

#### Importing libraries

In [1]:
import pandas as pd
import numpy as np

In [13]:
# !conda install -c anaconda beautifulsoup4 --yes
# !pip install bs4
from bs4 import BeautifulSoup
import requests

#### Lets scrape the data from the wiki page.

In [15]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
data  = requests.get(url).text
soup = BeautifulSoup(data,"html.parser")

In [17]:
# Build table from the data on wikipedia page
table_contents=[]
table=soup.find('table')
for row in table.findAll('td'):
    cell = {}
    if row.span.text=='Not assigned':
        pass
    else:
        cell['PostalCode'] = row.p.text[:3]
        cell['Borough'] = (row.span.text).split('(')[0]
        cell['Neighborhood'] = (((((row.span.text).split('(')[1]).strip(')')).replace(' /',',')).replace(')',' ')).strip(' ')
        table_contents.append(cell)

print(len(table_contents))

103

#### Converting table_contents to a dataframe, for further analysis

In [18]:
# Build dataframe with borough information
df=pd.DataFrame(table_contents)
df['Borough']=df['Borough'].replace({'Downtown TorontoStn A PO Boxes25 The Esplanade':'Downtown Toronto Stn A',
                                             'East TorontoBusiness reply mail Processing Centre969 Eastern':'East Toronto Business',
                                             'EtobicokeNorthwest':'Etobicoke Northwest','East YorkEast Toronto':'East York/East Toronto',
                                             'MississaugaCanada Post Gateway Processing Centre':'Mississauga'})
df.head(12)

,PostalCode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Queen's Park,Ontario Provincial Government
5,M9A,Etobicoke,Islington Avenue
6,M1B,Scarborough,"Malvern, Rouge"
7,M3B,North York,Don Mills North
8,M4B,East York,"Parkview Hill, Woodbine Gardens"
9,M5B,Downtown Toronto,"Garden District, Ryerson"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov..."

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PostalCode    103 non-null    object
 1   Borough       103 non-null    object
 2   Neighborhood  103 non-null    object
dtypes: object(3)
memory usage: 2.5+ KB

In [20]:
df.head(3)

  PostalCode           Borough               Neighborhood
0        M3A        North York                  Parkwoods
1        M4A        North York           Victoria Village
2        M5A  Downtown Toronto  Regent Park, Harbourfront

In [21]:
df.describe()

       PostalCode     Borough       Neighborhood
count         103         103                103
unique        103          15                103
top           M6N  North York  Hillcrest Village
freq            1          24                  1

In [23]:
print("Required Number of Rows:", df.shape[0])

Required Number of Rows: 103